.App-Header {
  background-color: #c93c67;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.App-Content {
  margin: 30px;
}

nav {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: #b8355c;
}

nav a {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}

button {
  font-size: 0.8em;
  font-weight: 700;
  color: #ffffff;
  background-color: #b8355c;
  border-color: #c93c67;
}

button:hover {
  cursor: pointer;
  background-color: #c93c67;
}